extends layout/layout

append content
	body
		.center-view
			
			section.demo
				header
					h1 Centered images
					h2 background-size: cover
					h2 background-size: contain
				section._demo-examples
					._example.cover
					._example.contain