/**
 * Import compass
 */
@import "compass";

/**
 * Import vendor libraries
 */
@import "3rdparty/normalize";

/**
 * Import helpers
 */
@import "helpers/mixins";
@import "helpers/utilities";

/**
 * Project styling
 */

.center-view {
	position: relative;
	width: 960px;
	margin: 0 auto;
	@media screen and (min-width: 1200px) {
		width: 1140px;
	}
}

.demo {
	margin: 30px 0;
	header {
		@include clearfix;
		margin: 0 -30px 20px;
		h1 {
			margin: 0 30px;
			width: 100%;
		}
		h2 {
			float: left;
			width: 450px;
			margin: 0 30px;
			font-weight: 100;
			color: tint(black, 35%);
			@media screen and (min-width: 1200px) {
				width: 540px;
			}
		}
	}
}
._demo-examples {
	@include clearfix;
	margin: 30px -30px;
}
._example {
	float: left;
	width: 450px;
	height: 300px;
	margin: 0 30px;
	background: {
		image: url(../image/demo-wide.jpg);
		repeat: no-repeat;
		color: tint(black, 95%);
	}
	&.centered {
		background-position: center;
	}
	&.cover {
		background-size: cover;
		background-position: 0 0;
	}
	&.contain {
		background-size: contain;
		background-position: 200% 150%;
	}
	@media screen and (min-width: 1200px) {
		width: 540px;
	}
}