/**
 * Base layout
 */

html {
	background-color: tint(black, 95%);
}

body {
	position: relative;
	width: 960px;
	margin: 50px auto;
	background-color: white;
	padding: 50px;
}

h1 {
	margin: 0 0 1.5em;
	font-weight: 100;
}

h2 {
	margin: 1.5em 0 0;
	font-weight: 100;
}

p, ul, ol {
	color: tint(black, 30%);
	font-weight: 300;
	line-height: 20px;
}

.disclaimer {
	display: block;
	border-left: 5px solid tint(black, 90%);
	padding: 5px 10px;
	margin-top: 3em;
	font-size: 12px;
	a {
		color: inherit;
		text-decoration: none;
		font-weight: 500; 
	}
}

table {
	font-size: 14px;
	line-height: 20px;
	border: 1px solid tint(black, 90%);
	color: tint(black, 40%);
	th {
		background-color: tint(black, 95%);
		font-size: 15px;
		text-align: left;
		padding: 5px 10px;
		padding-right: 30px;
		border-left: 1px solid tint(black, 90%);
	}
	td {
		padding: 5px 10px;
		padding-right: 30px;
		vertical-align: top;
		border-left: 1px solid tint(black, 90%);
	}
	tbody, thead {
		tr {
			border-bottom: 1px solid tint(black, 90%);
		}
	}
	code {
		color: black;
	}
}

.demo-container {
	@include clearfix;
	margin: 0 -30px;
	.block {
		margin-top: 30px;
		width: 50%;
		float: left;
		h1 {
			margin: 0 30px;
			font: {
				size: 18px;
				weight: 600;
			}
		}
		p {
			font-size: 14px;
			margin: 0 30px 1em;
		}
		.element {
			position: relative;
			margin: 0 30px;
			height: 240px;
			background: {
				color: tint(black, 95%);
				repeat: no-repeat;
				position: center;
			}
		}
		.cover {
			background-size: cover;
		}
		.contain {
			background-size: contain;
		}
		.portrait {
			background-image: url(../image/demo.jpg);
		}
		.landscape {
			background-image: url(../image/demo-wide.jpg);
		}
	}
}