/**
 * Clearfix mixin
 * Replaces default compass clearfix mixin
 */
@mixin clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/**
 * Smooth scrolling mixin for block elements in webkit browsers
 */
@mixin smooth-scroll {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	* {
		@include transform(translate3d(0,0,0));
	}
}

/**
 * Visually hide element mixin
 */
@mixin visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/**
 * 1px transparent GIF mixin
 */
@mixin transparent-gif {
	background: {
		image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
		repeat: repeat;
	}
}