pre {
	font-size: 14px;
	padding: 9.5px !important;
	border: 1px solid rgba(0, 0, 0, .15) !important;
	background-color: rgb(250,250,250) !important;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 { 
	list-style-type: decimal !important 
}

.com { color: #93a1a1 !important; }
.lit { color: #195f91 !important; }
.pun, .opn, .clo { color: #93a1a1 !important; }
.fun { color: #dc322f !important; }
.str, .atv { color: #D14 !important; }
.kwd, .prettyprint .tag { color: #1e347b !important; }
.typ, .atn, .dec, .var { color: teal !important; }
.pln { color: #48484c !important; }

.prettyprint {
  background-color: #f7f7f9 !important;
  border: 1px solid #e1e1e8 !important;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  padding: 0;
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}